* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.homepage {
  background-color: rgb(255, 255, 255);
  background-position: center bottom;
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}

.header-container {
  display: flex;
  flex-direction: row;
  margin: 0%;
  padding-bottom: 5%;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1),
    rgba(0, 0, 0, 0)
  );
}

body {
  margin: 0;
}
.left-header {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
#logo {
  letter-spacing: 3px;
  word-spacing: 2px;
  font-size: 20px;
  font-weight: 700px;
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 0px;
}
#logo-subtext {
  padding-top: 5px;
  margin: 0px;
  margin-top: 0px;
  font-weight: lighter;
}

.right-header {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 0;
  margin: 0;
  justify-content: right;
  position: fixed;
  right: 4%;
}
.page-link {
  font-weight: 400;

  color: black;
}
a:link {
  text-decoration: none;
  text-decoration: black;
}
a:hover {
  text-decoration: underline;
}
.icons {
  margin-left: 20px;
  gap: 15px;
}
